body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #93c7d6a9;
  margin: 0;
}
.calculator {
  background-color: rgba(6, 14, 14, 0.096);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#display {
  width: 200px;
  height: 40px;
  text-align: right;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 10px;
}
button {
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
}
